@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
  z-index: 10;
}

.slick-prev {
  left: -40px !important;
}

.slick-next {
  right: -40px !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-dots {
  bottom: -35px !important;
}

.slick-dots li button:before {
  color: #7D3C98 !important;
  opacity: 0.3;
  font-size: 8px !important;
}

.slick-dots li.slick-active button:before {
  color: #7D3C98 !important;
  opacity: 1;
}

.slick-track {
  margin-left: 0 !important;
}

/* Scroll personalizado */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Mueve las flechas hacia arriba */
.swiper-button-next,
.swiper-button-prev {
  top: 200px !important; /* o el valor que quieras para subirlas */
  /* Si querés que estén aún más arriba podés usar valores negativos */
  /* top: -10px !important; */
}

/* Ajustar el tamaño o color si querés */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px; /* tamaño de la flecha */
  color: #333; /* color de la flecha */
}


